textarea {
    resize: none;
}

/* Total Users Page Start */

table {
    width: 99%;
    margin: 8px;
    box-shadow: 0px 0px 3px 3px #CCCCCC;
}

td, th {
    text-align: center;
}

td {

    font-size: .9rem;
}

table thead tr th {
    font-size: 1.3rem;
}

table, tr, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}

td img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

table tr:nth-child(odd) {
    background-color: #c0bebe6b;
}

table tr:nth-child(1) {
    background-color: #e7bcbcb5;
    height: 10px;
}
tr:nth-child(1){
        height: 20px;
}


/* Total Users Page End */


/* Add User Page Start */
/* @media only screen and (max-width: 768px) {
    .des{
        visibility: hidden;
    }
    .mob{
        visibility: visible;
    }
} */


form div {
    margin-bottom: 8px;
    color: black;
}

a {
    text-decoration: none;
}

input[type=text], input[type=password] {
    background-color: transparent;
    border: black solid 0.5px;
    color: black;
}

input[type=submit] {
    margin-right: 10px;
}

input[type=reset] {
    margin-left: 10px;
}

input[type=submit], input[type=reset], input[type=button] {
    /* background-color: #ffffff00; */
    color: black;
    box-shadow: 3px 3px 3px #CCCCCC;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    width: max-content;
}

.cont_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont_add > form{
    /* background-color: #b5f6ee; */
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
}
.pro_add > form{
    /* background-color: #b5f6ee; */
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
}
.user_updt > form{
    /* background-color: #b5f6ee; */
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 350px; */
}
.user_add {
    width: 350px;
    height: max-content;
}

.gen {
    color: black;
}

/* Add User Page End */


/* Order Page Start */
:root {
    --menu-color: #780ac1a5;
    --text-color: #f0dc06;
    --col-color: #fff;
    --icon-color: rgba(255, 0, 0, 0.584);
    --main-color: #780ac1a5;
    --red: #eb4d4b;
    --orange: #f39c12;
    --black: #130f40;
    --sky: #38bbe0;
    --light-color: #999;
    --light-bg: #eee;
    --white: #ffffffe0;
    --border: .1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.checkout-orders form {
    padding: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    width: 94%;
    margin-left: 2rem;
}

.checkout-orders form h3 {
    border-radius: .5rem;
    padding: 0.7rem 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.checkout-orders form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

.checkout-orders form .flex .inputBox {
    width: 47%;
}

.checkout-orders form .flex .inputBox span {
    font-size: 1.5rem;
    /* background-color: #38bbe0; */
}

.checkout-orders form .flex .inputBox .box {
    width: 100%;
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.3rem;
    color: var(--black);
    padding: 0.7rem 1rem;
    margin: 0.3rem 0;
    background-color: var(--light-bg);
}

.checkout-orders form .flex .inputBox span {
    font-size: 1.4rem;
    color: var(--light-color);
}

.orders .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}

.orders .box-container .box {
    padding: 1rem 2rem;
    flex: 1 1 40rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.orders .box-container .box p {
    margin: .5rem 0;
    line-height: 1.8;
    font-size: 2rem;
    color: var(--light-color);
}

.orders .box-container .box p span {
    color: var(--main-color);
}

.custom-select {
    height: 37px;
    border-radius: 6px;
}

/* Order Page End */

/* Admin Profile Start */
.pro_img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.edit_pro_img {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.edit_pro_img label {
    z-index: 1;
    cursor: pointer;
    opacity: 1;
}

.col-md-4 form input {
    display: none;
}

.col-md-4 form .btn {
    display: none;
}

/* .label:hover {
    opacity: 1;
}

.pro_img:hover~label {
    opacity: 1;
} */

/* Admin Profil End */



/* CSS */
.button-70 {
    background-image: linear-gradient(#c8f9f9, #ffffff);
    border: 0;
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, .3) 0 5px 15px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    margin: 5px;
    padding: 8px 13px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


/* Table Action Start*/

#action {
    color: black;
    box-shadow: 3px 3px 3px #CCCCCC;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.edit {
    background-color: #6d90f9;
}

.delete {
    background-color: #dd7973;
}

.activate {
    background-color: #22f2da;
}

.deactivate {
    background-color: #00c2aa;
}

.reactivate {
    background-color: #5adbb5;
}

/* Table Action End*/

.headers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-btn{
    background-color: #dac4de;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
